button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0a97b0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}
